<p><%= link_to "â† back", queries_path %></p>
<section>
	<h1>Query for <%= @query.username %>'s Timeline</h1>
	<h3>Made on <%= @query.created_at.strftime('%A, %b %d') %> at <%= @query.created_at.strftime('%I:%M%p') %> returned: </h3>

	
	<ol>
	<% @query.tweets.each do |t| %>	
		<li>
			<%= raw t.text %><br>
			<small><%= t.created_at %></small>
		</li>
	<% end %>
	</ol>
</section>